html {background-color: #e0d5f5}  /* changes entire pages background*/

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.countries {
    fill: #e6e5e9;
    stroke:#999;
    stroke-width: 2;
}
.States {
    fill: none;
    stroke: black;
    stroke-width: 1;
}
.gratLines {
    fill: none;
    stroke: #c5c4c4;
    stroke-width: 1px;
}
.gratBackground {
    fill: #c5aaf8;
}
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.county {
    stroke: #000;
    stroke-width: 0px;
    stroke-linecap: round;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: #ffffff;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1.2em;
    fill: #000000;
}
.dropdown {
    position: absolute;
    top: 450px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    min-height: 10px;
    min-width: 50px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


/* Styles for the home button */
.home-button rect {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
    rx: 5; /* rounded corners */
    ry: 5;
}

.home-button text {
    font-size: 14px;
    fill: #000;
    text-anchor: middle;
}


